<div class="container">
    <div class="row">
        <div class="col-lg-10 mx-auto" >
            <table class="table mt-5" style="background-color: whitesmoke;" >
                <thead >
                  <tr>
                    
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Description</th>
                    <th scope="col">Urls</th>
                    <th scope="col">Actions  
                      <button class="btn btn-primary " routerLink="/create" (click)="sendTitle('Create New Product')"> New</button>
                    </th>
                    
                     </tr>
                </thead>
                <tbody *ngFor="let element of myResponse.result">
                  <tr>
                   
                    <td>{{element.name}}</td>
                    <td>{{element.price}}</td>
                    <td>{{element.description}}</td>
                    <td>{{element.urls}}</td>
                    <td><div class="btn-group" role="group" aria-label="Basic mixed styles example">
                      <button type="button" class="btn btn-secondary" (click)="details(element.id)" >Details</button>
                      <button type="button" class="btn btn-success" (click)="update(element.id)" >Update</button>
                      <button type="button" class="btn btn-danger" (click)="remove(element.id)" >Remove</button>
                    </div></td>
                  </tr>
                           </tbody>
              </table>
        </div>
    </div>
</div>